.text-align-center
{
  text-align: center;
}

.text-align-right
{
  text-align: right;
}

.margin-top-1em
{
  margin-top: 1em;
}

.hover-outline
{
  display: inline-block;
}

.hover-outline:focus:has(*:not([disabled])),
.hover-outline:focus-visible:has(*:not([disabled])),
.hover-outline:focus-within:has(*:not([disabled])),
.hover-outline:hover:has(*:not([disabled]))
{
  outline: 2px solid;
  outline-offset: 2px;
}

.flex
{
  display: flex;
}

.flex-direction-row-reverse
{
  flex-direction: row-reverse;
}